<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>ToDo Web Calendar App</title>
</head>
<body>
<div style="display: flex; flex-direction: column; min-height: 80vh">
    <div class="container">
        {% block content %}
        <!-- メインコンテンツ -->
        {% endblock %}
    </div>
</div>
<br>
<hr>
<footer>
    <div align="center">
        <p>App created by <a href="https://github.com/ogi-iii?tab=repositories" target="_blank">https://github.com/ogi-iii</a></p>
        <p>Powered by FastAPI  &amp; starlette </p>
    </div>
</footer>
</body>
</html>